.filter-top {
  padding-left: 0;
  margin-top: 20px;
}

.filter-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filter-name {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.checkbox {
  height: 15px;
  width: 15px;
  border: none;
  cursor: pointer;
}

.hr-line {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #64748b;
}

.radio {
  height: 15px;
  width: 15px;
  border: none;
  cursor: pointer;
}
