.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 20vh;
}

.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  border-radius: 20px;
  padding: 20px;
}

.profile-name {
  font-family: 'Roboto';
  color: #6366f1;
  font-weight: normal;
  font-size: 24px;
}

.short-bio {
  font-family: 'Roboto';
  color: #475569;
  font-size: 18px;
}

.profile-logo {
  height: 40px;
}

.retry-btn {
  background-color: #4f46e5;
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 10px;
  width: 80px;
  border-radius: 8px;
}
