.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  min-height: 100vh;
}

.not-img {
  height: 100%;
}

.heading {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 20px;
}

.desc {
  font-family: 'Roboto';
  color: #64748b;
  font-size: 15px;
}
