.similar-job-item-container {
  background-color: #202020;
  border-radius: 18px;
  margin-bottom: 50px;
  padding: 20px;
  width: 100%;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .similar-job-item-container {
    width: 400px;
  }
}
