.nav-container {
  background-color: #272727;
  padding: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icons-container {
  display: flex;
  padding-left: 0;
}

.icon {
  color: #ffffff;
  font-size: 24px;
  margin-right: 20px;
}

.website-logo {
  height: 30px;
}

.link-item {
  text-decoration: none;
  color: #ffffff;
}

.logout-btn {
  background-color: #6366f1;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 6px;
  padding: 10px;
  color: #ffffff;
  width: 120px;
  font-weight: bold;
}

.nav-item {
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .tabs-container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .icons-container {
    display: none;
  }
  .tabs-container {
    display: flex;
    padding-left: 0;
  }
  .tab {
    font-family: 'Roboto';
    color: #ffffff;
    font-size: 20px;
    margin-right: 20px;
  }
  .website-logo {
    height: 45px;
  }
}
