.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px;
  background-color: #000000;
  min-height: 100vh;
}

.login-box {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.logo {
  height: 30px;
  align-self: center;
  margin-bottom: 20px;
}

.label {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 8px;
}

.input {
  border: 1px solid #64748b;
  font-family: 'Roboto';
  padding: 10px;
  outline: none;
  color: #7e858e;
  margin-bottom: 18px;
  background-color: transparent;
  border-radius: 8px;
}

.login-btn {
  background-color: #6366f1;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 8px;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.error-msg {
  font-family: 'Roboto';
  color: #ff0b37;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .login-box {
    width: 40%;
  }
  .logo {
    height: 40px;
  }
}
